{% extends 'artyprod/base.html' %}
{% block content %} 
<div class="container">
    <div class="row">
<div class="team-slider owl-carousel dark-pagination col-md-12">
    {% for personnel in personnels %}
        <div class="team">
            <div class="team-container">
                
                {% if personnel.Img %}
                <img src="{{ personnel.Img.url }}" height="200px" alt="Service Image">
                {% endif %}
                <div class="team-caption">
                    <div>
                        <div>
                            <ul>
                                {% if personnel.lien_linkedIn %}
                                    <li class="social-icon"><a href="{{ personnel.lien_linkedIn }}" target="_blank"><i class="ion-social-linkedin"></i></a></li>
                                {% endif %}
                                <!-- Add more social icons for Facebook, Twitter, YouTube, etc. -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <h6>{{ personnel.skill }}</h6>
            <h5>{{ personnel.nom }}</h5>
            <p>{{ personnel.user.personel.description }}</p>
        </div>
    {% endfor %}
</div>
</div>
</div>
{% endblock %}
