{% extends 'artyprod/base.html' %}
{% block content %} 
<div class="container">
  <div class="row">

      <div class="col-md-12 text-center pb20">
          <h2>Get In Touch<br><strong>Contact Us</strong></h2>
          <p class="lead">We would like to <span class="color">hear from you</span></p>
      </div>

      <div class="col-md-8 col-md-offset-2 contact box-style">
          <div id="message-info"></div>
          <!-- Forms can be functional only on server. Upload to your server when testing. -->
          <form  method="post"  action="{% url 'contact' %}">

              <div class="col-sm-12">
                  <input name="name" id="name" placeholder="Your Name *"/>
              </div>
              <div class="col-sm-6">
                  <input name="email" id="email" placeholder="Your Email *"/>
              </div>
              <div class="col-sm-6">
                  <input name="phone" id="phone" placeholder="Your Phone"/>
              </div>
              <div class="col-sm-12">
                  <textarea name="message" rows="9" id="message" placeholder="Your Message *"></textarea>
              </div>
              <div class="col-md-12">
                  <input type="submit" class="submit btn btn-lg btn-primary" id="submit" value="Send Message"/>
              </div>

          </form>
      </div>

  </div>
</div>
{% endblock %}